# Use Vim keybinds instead of default Emacs
set editing-mode vi
# Show current mode at the beginning of the prompt
set show-mode-in-prompt on
# set vi-ins-mode-string "I"
# set vi-cmd-mode-string "N"
# set vi-ins-mode-string (I)\1\e[6 q\2
# set vi-cmd-mode-string (X)\1\e[2 q\2
# set vi-ins-mode-string \1\e[34;1m\2  ▶▮◀\1\e[5m\2\1\e[5 q\2
# set vi-cmd-mode-string \1\e[35;1m\2  ◀▬▶\1\e[3m\2\1\e[3 q\2
# set vi-ins-mode-string \1\e[34;1m\2  󰗧\1\e[5m\2\1\e[5q\2
# set vi-cmd-mode-string \1\e[35;1m\2  \1\e[3m\2\1\e[3q\2
set vi-ins-mode-string \1\e[34;1m\2 ╰─>\1\e[5m\2\1\e[5 q\2
set vi-cmd-mode-string \1\e[35;1m\2 ╰─>\1\e[3m\2\1\e[4 q\2
